* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.botao-sair {
    display: flex;
    padding: 10px;
    background-color: green;
    border:none;
    justify-content: center;
    cursor: pointer;
    color: white;
}


@media (max-width: 720px) {
    main {
        display: flex;
        padding: 20px;    
    }

    .barra-opcoes, .outras-opcoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .barra-opcoes {
        gap: 20px;
    }

    .barra-opcoes img {
        width: 40px;
        height: 40px;
    }

    .outras-opcoes {
        display: flex;
        justify-content: center ;
        align-items: center;
    }

    .user img {
        display: block;
    }
    .user {
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .subtitulo, .botao-sair {
        display: none;
    }

    .barra-opcoes, .conteudo {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90vh;
    }
    
    .barra-opcoes img {
        width: 40px;
        height: 40px;
    }
    
    .barra-opcoes {
        height: 70px;
        background-color: rgb(182, 244, 224);
        gap: 10px; 
    }
}

