<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto Rosa</title>
</head>
<body>
  <h1>Hello, World!</h1>
  <p>Olá, {{nome}}.</p>
  <p>Seu nome tem {{qtd_letras}} letras.</p>
</body>
</html>