<h1>Lista de Produtos</h1>
<ul>
  {{#each produtos}}
  <div>
    <p>Nome: {{this.nome}}</p>
    <p>Status: {{this.status}}</p>
    <p>Destinação: {{this.destinacao}}</p>
    
    <form action="/produtos/editar/{{this.id}}" method="get">
      <button type="submit">Editar</button>
    </form>

    <hr>

  </div>
  {{/each}}
</ul>
