body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    background: linear-gradient(to left, indigo,pink);
}

h1 {
    color: #fff;
}

h2 {
    color: rgb(0, 85, 0);
}

.copyright {
    text-align: center;
}